*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

:root {
    --rojo: #fc5c65;
    --gris-claro: #f1f1f1;
    --negro: #001a21;
    --verde: #32e0c4;
}

.banner {
    width: 100%;
    height: 400px;
    background: url("/NUEVATIENDA/assets/img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner__titulo {
    position: relative;
}

.banner__titulo h1 {
    padding: 0 10px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    border-style: dotted;
}

.centro {
    width: 70%;
    margin: auto;
    text-align: justify;
}

.formulario {
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.formulario form {
    position: relative;
    margin: -40px 0;
    padding: 40px;
    width: 50%;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario form input,
select {
    background: var(--gris-claro);
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 15px;
    color: #686868;
    font-weight: 300;
}

.formulario form p {
    font-size: 16px;
    margin-top: 10px;
}

.formulario form .btn-calcular {
    width: 80%;
    padding: 10px 0;
    margin: 30px auto;
    color: white;
    background: var(--rojo);
    border: none;
    outline: none;
    transition: 0.5s;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.formulario form .btn-calcular:hover,
.btn-conocer:hover {
    background: #f98990;
}

.servicio h2 {
    font-size: 30px;
    text-align: center;
}

.servicio h3 {
    font-size: 20px;
}

.servicio p {
    margin: 20px 0;
    font-weight: 300;
    font-size: 15px;
}

.servicio p .nombre {
    color: var(--rojo);
    font-weight: 500;
    font-size: 17px;
}

.btn-conocer {
    width: 250px;
    padding: 10px 0;
    margin: 30px auto;
    color: white;
    background: var(--rojo);
    border: none;
    outline: none;
    transition: 0.5s;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.ventajas {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ventajas div {
    width: 40%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.ventajas p {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 300;
}

.ventajas p .fas {
    color: var(--verde);
    margin-right: 10px;
}

.mapa {
    width: 100%;
    height: 400px;
    margin-bottom: 80px;
}

.mapa h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .formulario form {
        width: 100%;
    }
    .ventajas p {
        font-size: 14px;
    }
}