/*-------HEADER-------*/

:root {
    --blanco: #fff;
    --negro: #000;
    --amarillo: #fee648;
    --naranja: #FA9F03;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 6;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

nav .logo img {
    width: 60px;
    height: 70px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: var(--negro);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: var(--naranja);
}

nav .menu-btn i {
    color: var(--negro);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}


/*--------RESPONSIVE--------*/

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav {
        height: 80px;
        z-index: 1;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--blanco);
        z-index: 1;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: var(--color-principal);
        transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: rgb(70, 162, 161, 0.5);
    }
}