.btn-salir {
    border: none;
    width: 200px;
    background: #FA9F03;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn-activar {
    border-radius: 10px;
    border: none;
    background: #FA9F03;
    padding: 15px 70px;
    font-size: 15px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.btn-activar:hover,
.btn-salir:hover {
    background-color: #f7ac2c;
}

.btn-activar a,
.btn-salir a {
    color: white;
}

.main {
    width: 80%;
    height: calc(100vh - 80px);
    margin: auto;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenido__imagen {
    width: 50%;
    -webkit-animation: imagen 2s linear infinite;
    animation: imagen 2s linear infinite;
}

@-webkit-keyframes imagen {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

@keyframes imagen {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

.contenido__imagen img {
    width: 90%;
}

@media (max-width: 1200px) {
    .contenido {
        flex-wrap: wrap;
    }
}