* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main img {
    width: 500px;
    margin: auto;
}

main h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
}

main .texto {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 5px;
}

main .texto p {
    text-align: justify;
    font-weight: 300;
}

main .pie {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

main .pie p {
    margin: 10px 0;
}

main .pie a button {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

@media (max-width: 1000px) {
    main .texto {
        width: 90%;
        font-size: 13px;
    }
    main h1 {
        font-size: 30px;
    }
    main img {
        width: 350px;
    }
}